@font-face {
  font-family: 'JetBrainsMono';
  src: url('fonts/JetBrainsMono-Light.woff2') format('woff');
  font-weight: lighter;
  font-style: normal;
}

:root {
  --background: #101010;
  --logo: #86BBD8;
  --input: #ededed;
  --headline: #ededed;
}

body {
  background-size: cover;
  background-color: var(--background);
  color: var(--headline);
}

body:not(.shoulder):not(.head):not(.sharp-left):not(.sharp-right) {
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Arch logo */
/* stolen from https://codepen.io/mahdi-safarian/pen/xBLeEa
by Mahdi Safarian: https://www.linkedin.com/in/mahdi-safariyan/ */
.container {
  width: 400px;
  height: 400px;
  position: relative;
  margin: auto;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-bottom: 250px solid var(--logo);
  margin: 40px auto;
}

.shoulder {
  height: 100px;
  width: 250px;
  background-color: var(--background);
  border-radius: 50%;
  position: absolute;
  bottom: 100px;
  left: 75px
}

.head {
  height: 100px;
  width: 65px;
  background-color: var(--background);
  border-radius: 50%;
  position: absolute;
  bottom: 160px;
  left: 170px;
}

.sharp-left {
  content: "";
  position: absolute;
  top: 1px;
  left: 150px;
  width: 0px;
  height: 0xpx;
  border-top: 30px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 10px solid var(--background);
  margin: 40px auto;
  transform: rotate(40deg);
}

.sharp-right {
  content: "";
  top: 100px;
  right: 80px;
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 30px solid transparent;
  border-left: 70px solid transparent;
  border-bottom: 10px solid var(--background);
  margin: 40px auto;
  transform: rotate(30deg);
}

/* for vertical centering */
.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5%;
  height: 80%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  margin-top: -10%;
  margin-bottom: -5%;
}

/* Text under the logo */
.headline {
  font-family: 'JetBrainsMono';
  font-size: 21pt;
  text-align: center;
  padding-top: 3%;
}

.input {
  color: var(--input);
  background-color: var(--background);
  border: none;
  outline: none;
  padding: 5px;
  font-family: "JetBrainsMono";
  font-size: 16px;
  text-align: right;
  /* position: absolute; */
  bottom: 20px;
  right: 20px;
  clear: both;
  width: 150px;
}

.username {
  text-align: right;
  opacity: 0.45;
}

.bottom-right {
  position: absolute;
  clear:both;
  bottom: 20px;
  right: 20px;
}

.top-right {
  position: absolute;
  clear: both;
  top: 20px;
  right: 28px;
}

.sessionLabel {
  border: none;
  outline: none;
  float: right;
  font-family: "JetBrainsMono";
  font-size: 16px;
  text-align: right;
  clear: both;
  opacity: .45;
  transition: .5s;
}

.sessionLabel::before {
  content: "";
  width: 7px;
  height: 7px;
  top: 7px;
  right: -13px;
  position: absolute;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg); 
  transition: .5s;
  pointer-events: none;
  opacity: 0.45;
}

#sessionCheckbox:checked ~ .sessionLabel::before {
  top: 5px;
  right: -15px;
  transform: rotate(135deg);
}

.sessionLabel:hover {
  opacity: 1;
}

.sessionCheckbox {
  display: none;
}

.sessionList {
  height: 65px;
  overflow: auto;
  margin: 0;
  padding: 0;
  float: right;
  transform: translateX(12px);
  transition: visibility 0.5s, opacity 0.5s;
  opacity: 0;
}

#sessionCheckbox:checked ~ .sessionList {
  visibility: visible;
  opacity: 1;
}

.sessionList::-webkit-scrollbar {
  width: 4px;
}

.sessionList::-webkit-scrollbar-thumb {
  background-color: #737373;
}

.sessionList li {
  list-style: none;
  text-align: right;
  font-family: "JetBrainsMono";
  font-size: 16px;
  opacity: 0.45;
  padding-right: 8px;
  transition: .5s;
  white-space: nowrap;
}
.sessionList li:hover {
  opacity: 1;
}

.sessionList li a {
  color: #fff;
  text-decoration: none;
}
.sessionList li a:visited {
  color: #fff;
  text-decoration: none;
}
.sessionList li a:active {
  color: #fff;
  text-decoration: none;
}
.sessionList li a:link {
  color: #fff;
  text-decoration: none;
}
.sessionList li a:hover {
  cursor: default;
  text-decoration: none;
}
